Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
depcomp
install-sh
missing
Makefile
config.h
config.log
config.status
omg_dns.c
omg_dns.h
stamp-h1
hexdns2text
test-driver
test/test-suite.log
test/test*.sh.log
test/test*.sh.trs
build/
